[Desktop Entry]
Name=Autostart
GenericName=Configuration auto start
Comment=Runs every time system starts
Exec=/home/vagrant/autostart.sh
Terminal=true
Type=Application
X-GNOME-Autostart-enabled=true
